 :root {
    --background-color: white;
    --text-color: black;
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
} 

.container{
    text-align: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
} 

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    padding: 20px;
    margin-top: -17px;
}

.grid-item1{
    background-color: rgb(213 213 213 / 46%);
    padding: 20px;
    border: solid 3px #ec5d1f;
    border-radius: 5px;
}

 .grid-item2 {
    background-color: rgb(213 213 213 / 46%);
    padding: 20px;
    border: solid 3px #ec5d1f;
    border-radius: 5px;
}

.item1-flex {
    display: block;
    text-align: center;
    margin: auto;

}

.logo {
    margin: 20px;
}

.create-newPL {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin-top: 40px;
}

.new-playlist {
    display: block;
    margin-left: 45px;
}

.submit-newPL {
    background-image: linear-gradient(#f15025, #b83c07);
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.hero-flex {
    display: flex;
    flex-direction: column;
}

.hero {
    align-self: center;
    margin-bottom: 10px;
    margin-bottom: 33px;
}

.username {
 margin-left: -10px;
 padding-top: 10px;
 padding-right: 10px;
}



 .checkbox:hover {
    cursor: pointer;
}


/* The switch - the box around the slider 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #070707;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0a0a0a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders 
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */



h2 {
    text-align: center;
    margin-top: 25px;
}


label {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin: 5px 0 5px 0;
  }

#logout {
    background-image: linear-gradient(#f15025, #b83c07);
    color: white;
    border-radius: 5px;
    width: 95px;
    margin-top: 8px;
    
}
  
#forge {
    padding: 0;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 25px;
}

h3 {
    padding: 22px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

input {
    width: 14em;
    border-radius: 5px;
}

.accordion-item {
    margin-top: 25px;
    --bs-accordion-active-bg: #ff4c00de
}


/*
body[data-theme='dark'] {
    background-color: black;
}

h5[data-theme='dark'] {
    color: white;
}

h5[data-theme='light'] {
    color: black;
}
*/
a {
    color:#ec5d1f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.new-PL-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#newTune {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-secondary {
    background-image: linear-gradient(#f15025, #b83c07);
}

/* MEDIA QUERIES */


@media screen and (max-width: 1238px) {
   
    .grid-item1 {
        max-width: 91vw;
        height: 100%;
    }
    
    .grid-item2 {
        max-width: 91vw;
        height: 100%;
    }
    
    .hero {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
 
    header {
      display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* 1 column */
        grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
        gap: 10px; /* Optional: space between grid items */

    }

    .grid-item1 {
        max-width: 91vw;
        height: 100%;
    }

    .grid-item2 {
        max-width: 91vw;
        height: 100%;
    }

    .hero {
        max-width: 100%;
    }

}