.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    padding: 20px;
}

.grid-item1, .grid-item2 {
    background-color: grey;
    padding: 20px;
}

.item1-flex {
    display: flex;
    align-items: flex-start;

}

.home {
    margin: 0;
    padding: 5px;
}

.logo {
    align-self: center;
    margin-left: 50px;
}