:root {
    --light-blue : #6BC9E3;
    --lighter-purple: #6B7DE3;
    --blue-green: #6BE3D6;
    --purple: #7F6BE3;
    --deeper-blue: #4690E5;
    --grey-blue: #6BA3E3;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 20px; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    border: 20px solid var(--grey-blue);
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    padding: 30px;
    font-size: 4.5rem !important;
    color: var(--purple) !important;
    font-family:sans-serif;
}


form {
    margin-top: 50px;
}
button.btn.btn-primary
 {
    margin-top: 30px;
    margin-left: 100px;
}

.switch {
    position: absolute;
    top: 34px;
    right: 76px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--purple);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--purple);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }